<div>
<% if @users %>
  <% @users.each do |user| %>
    <ul>
      <li>
        <span>
          <% if user.image? %>
              <%= image_tag user.image.url, :size => '40x40' %>
          <% else %>
              <%= image_tag 'default.png', :size => '40x40' %>
          <% end %>
        </span>
        <span><%= link_to user.name, user_path(user) %></span>
      </li>
    </ul>
    <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt',
            renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
  <% end %>
<% elsif @posts %>
  <% @posts.each do |post| %>
    <ul>
    <li><%= render post %></li>
    </ul>
  <% end %>
  <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt',
            renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
<% else %>
  <p>もう一度入力してください</p>
<% end %> 
</div>