<div class="row">
    <div class="info_image">
        <% if @user.image? %>
            <%= image_tag @user.image.url, :size => '128x128' %>
        <% else %>
            <%= image_tag 'default.png', :size => '128x128' %>
        <% end %>
    </div>
    <div class="info_name">
        <span class="info_user_name"><%= @user.name %></span>
        <span>(<%= @user.unique_name %>)<%= render 'relationships/follow_button', user: @user %></span>
        <p><%= @user.profile %></p>
    </div>
</div>
<div class="info_follow">
    <p>
    <% if current_user?(@user)%>
        <%= link_to "[プロフィール編集]", edit_user_path(@user) %>　
    <% end %>
        <%= link_to "フォロー：#{@user.followings.count}人", following_user_path(@user) %>　
        <%= link_to "フォロワー：#{@user.followers.count}人", followers_user_path(@user) %>
    </p>
</div>

<% if current_user?(@user)%>
    <div class="info_post">
        <%= render 'posts/new_form' %>
    </div>
<% end %>

