<%= render 'users/user_info'%>
<div class="row">
    <div class="col-md-6">
        <% if @user.posts.any? %>
            <h3><%= "#{@user.name}さんの投稿 (#{@user.posts.count})" %></h3>
                <% @user.posts.each do |post| %>
                    <li>
                        <h4>
                            <% if post.user.image? %>
                            <%= image_tag post.user.image.url, :size => '40x40' %>
                            <% else %>
                            <%= image_tag 'default.png', :size => '40x40' %>
                            <% end %>
                            <%= link_to post.user.name, post.user %>（<%= post.user.unique_name %>）
                        </h4>
                        <p><%= link_to post.content, post_path(post) %></p>
                        <% if post.image? %>
                            <%= image_tag post.image.url %>
                        <% end %>
                        <%= render 'likes/like_button', post: post %>
                        <% if post.user == current_user %>
                            <p><%= link_to "[投稿を削除する]", post_path(post), method: :delete %></p>
                        <% end %>
                        <p>いいね: <%= post.likes.count %>　コメント：<%= post.comments.count %>　
                        <%= time_ago_in_words(post.created_at) %>に投稿</p>
                    </li>
                <% end %>
        <% end %>
    </div>
    <div class="col-md-6">
        <h3><%= @user.name %>さんのいいねしている投稿</h3>
        <ol>
            <% @user.liked_posts.each do |post| %>
                <li>
                <% if post.user.image? %>
                    <%= image_tag post.user.image.url, :size => '40x40' %>
                <% else %>
                    <%= image_tag 'default.png', :size => '40x40' %>
                <% end %>
                <%= link_to post.user.name, post.user %>(<%= post.user.unique_name %>)
                <p><%= link_to post.content, post_path(post) %></p>
                <% if post.image? %>
                    <%= image_tag post.image.url %>
                <% end %>
                <%= render 'likes/like_button', post: post %>
                <% if post.user == current_user %>
                    <p><%= link_to "[投稿を削除する]", post_path(post), method: :delete %></p>
                <% end %>
                <p>
                    いいね: <%= post.likes.count %>　コメント：<%= post.comments.count %>　
                    <%= time_ago_in_words(post.created_at) %>に投稿
                </p>
                </li>
            <% end %>
        </ol>
    </div>
</div>