<h1>名前: <%= @user.name %></h1>
<div>
<% if @user.image? %>
    <%= image_tag @user.image.url, :size => '128x128' %>
<% else %>
    <%= image_tag 'default.png', :size => '128x128' %>
<% end %>
</div>
<div>
<span>フォロー<%= @user.followings.count %>人　フォロワー<%= @user.followers.count %>人</span>
<span><%= render 'relationships/follow_button', user: @user %></span>
</div>

<% if current_user?(@user)%>
    <span><%= link_to "[編集]", edit_user_path(current_user) %></span>
    <span><%= link_to "[削除]", user_path, method: :delete %></span>
    <% end %>
    <div>
        <% if @user.posts.any? %>
        <h3>投稿 (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt',
            renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>
        <% end %>
    </div>
<%= link_to "ホーム", root_path %></div>