<li id="post-<%= post.id %>">
<h4>
  <% if post.user.image? %>
    <%= image_tag post.user.image.url, :size => '40x40' %>
  <% else %>
    <%= image_tag 'default.png', :size => '40x40' %>
  <% end %>
  <%= link_to post.user.name, post.user %>
</h4>
<p><%= post.content %></p>
<% if post.image? %>
  <div><%= image_tag post.image.url %></div>
<% end %>
<span><%= link_to "[返信する]", root_path %></sapn>
<% if post.user == current_user %>
  <span><%= link_to "[投稿を削除する]", post_path(post), method: :delete %></span>
<% end %>
<p><%= time_ago_in_words(post.created_at) %>前に投稿</p>
</li>