
<div class="row">
  <h1>投稿詳細ページ</h1>
  <div class="col-12">
    <div class="post_item">
      <div>
      <% if @post.user.image? %>
        <%= image_tag @post.user.image.url, :size => '40x40' %>
      <% else %>
        <%= image_tag 'default.png', :size => '40x40' %>
      <% end %>
        <%= link_to @post.user.name, @post.user, class: "text-dark h4" %>（<%= @post.user.unique_name %>）
      </div>

      <div class="ml-3 mt-2" >
        <p><%= link_to @post.content, post_path(@post), class: "text-dark" %></p>
        <% if @post.image? %>
          <%= image_tag @post.image.url %>
        <% end %>
      </div>

      <div>
        <%= render 'likes/like_button', post: @post %>
        <% if @post.user == current_user %>
          <%= link_to "[投稿を削除する]", post_path(@post), method: :delete %><br>
        <% end %>
          <%= time_ago_in_words(@post.created_at) %>前に投稿
      </div>
    </div>
  </div>

  <div class="col-12 mb-2">
    <%= form_with model: [@post, @comment], local: true do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control w-75" %>
      </div>
      <div class="actions">
        <%= f.submit "コメントする", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 mt-2 pt-2 border-top border-dark">
    <h5>いいねしたユーザー(<%= @post.liked_users.count %>)</h5>
    <% @post.liked_users.each do |user| %>
      <li class="mb-2">
        <% if user.image? %>
          <%= image_tag user.image.url, :size => '30x30' %>
        <% else %>
          <%= image_tag 'default.png', :size => '30x30' %>
        <% end %>
          <%= link_to user.name, user_path(user), class: "h5" %>
        </li>
    <% end %>
  </div>

  <div class="col-md-6 mt-2 pt-2 border-top border-dark">
    <h5>コメント(<%= @comments.count %>)</h5>
    <div>
      <% @comments.each do |comment| %>
        <li class="post_item">
          <% if comment.user.image? %>
            <%= image_tag comment.user.image.url, :size => '30x30' %>
          <% else %>
            <%= image_tag 'default.png', :size => '30x30' %>
          <% end %>
          <%= link_to "#{comment.user.name}さん", user_path(comment.user), class: "h5" %>
          <p class="pt-2 pl-2"><%= comment.content %></p>
          <% if comment.user == current_user %>
            <span><%= link_to "[コメントを削除する]", post_comment_path(comment.post_id, comment.id), method: :delete %></span>
          <% end %>
          <%= time_ago_in_words(comment.created_at) %>前に投稿
        </li>
      <% end %>
    </div>
  </div>
</div>