<header class="navbar navbar-fixed-top">
<div class="container">
    <%= link_to "アプリ", root_path, id: "logo"%>
    <nav id="nav">
        <ul class="navbar-nav navbar-right navbar-dark"> 
            <% if logged_in? %>
                <li　class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
                <li　class="nav-item"><%= link_to "ユーザー一覧", users_path %></li>
                <li　class="nav-item"><%= link_to "新規投稿", new_post_path %></li>
                <li　class="nav-item"><%= link_to "最新投稿一覧", posts_path %></li>
            <%else%>
                <li　class="nav-item"><%= link_to "新規登録", signup_path %></li>
            <% end %>
        </ul>
    </nav>
</div>
</header>