<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="container">
      <% if logged_in? %>
        <%= render 'layouts/search_form'%>
      <% end %>
      <%= render 'layouts/flash_message' %>

      <%= yield %>
      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
